<p>
	<label for="settings_slack_url">Slack URL</label>
	<input type="text" id="settings_slack_url" size=80 value="<%= settings['slack_url'] %>" name="settings[slack_url]" />
</p>

<p>
	<label for="settings_channel">Slack Channel</label>
	<input type="text" id="settings_channel" value="<%= settings['channel'] %>" name="settings[channel]" />
</p>

<p>
	The channel can be changed on a per-project basis by creating a
	<a href="/custom_fields/new?type=ProjectCustomField">project custom field</a> named "Slack Channel" (without quotes).
</p>

<p>
	<label for="settings_username">Slack Icon</label>
	<input type="text" id="settings_icon" value="<%= settings['icon'] %>" name="settings[icon]" />
</p>

<p>
	<label for="settings_username">Slack Username</label>
	<input type="text" id="settings_username" value="<%= settings['username'] %>" name="settings[username]" />
</p>

<p>
	<label for="settings_display_watchers">Display Watchers?</label>
	<select id="settings_display_watchers" value="<%= settings['display_watchers'] %>" name="settings[display_watchers]">
		<option value="yes">Yes</option>
		<option value="no" <%= settings['display_watchers'] != 'yes' ? %q(selected="selected") : '' %>>No</option>
	</select>
</p>

<p>
	<label for="settings_post_updates">Post Issue Updates?</label>
	<input type="checkbox" id="settings_post_updates" value="1" name="settings[post_updates]" <%= settings['post_updates'] == '1' ? 'checked="checked"' : '' %> />
</p>

<p>
	<label for="settings_post_wiki_updates">Not Post Wiki Updates?</label>
	<input type="checkbox" id="settings_post_wiki_updates" value="1" name="settings[post_wiki_updates]" <%= settings['post_wiki_updates'] == '1' ? 'checked="checked"' : '' %> />
</p>
