<p>
	<label for="settings_slack_url">Slack URL</label>
	<input type="text" id="settings_slack_url" size=80 value="<%= settings['slack_url'] %>" name="settings[slack_url]" />
</p>

<p>
	Generate an "Incoming WebHook" URL from the <a href="https://slack.com/apps/build/custom-integration">apps configuration page on Slack</a>. This URL can be changed on a per-project basis by creating a <a href="/custom_fields/new?type=ProjectCustomField">project custom field</a> named "Slack URL" (without quotes).
</p>

<p>
	<label for="settings_channel">Slack Channel</label>
	<input type="text" id="settings_channel" value="<%= settings['channel'] %>" name="settings[channel]" />
</p>

<p>
	The channel can be changed on a per-project basis by creating a
	<a href="/custom_fields/new?type=ProjectCustomField">project custom field</a> named "Slack Channel" (without quotes). <strong>For public channels, this value should start with a <em>#</em>.</strong>
</p>

<p>
	<label for="settings_username">Slack Icon</label>
	<input type="text" id="settings_icon" value="<%= settings['icon'] %>" name="settings[icon]" />
</p>

<p>
	<label for="settings_username">Slack Username</label>
	<input type="text" id="settings_username" value="<%= settings['username'] %>" name="settings[username]" />
</p>

<p>
	<label for="settings_display_watchers">Display Watchers?</label>
	<select id="settings_display_watchers" value="<%= settings['display_watchers'] %>" name="settings[display_watchers]">
		<option value="yes">Yes</option>
		<option value="no" <%= settings['display_watchers'] != 'yes' ? %q(selected="selected") : '' %>>No</option>
	</select>
</p>

<p>
	<label for="settings_post_updates">Post Issue Updates?</label>
	<input type="checkbox" id="settings_post_updates" value="1" name="settings[post_updates]" <%= settings['post_updates'] == '1' ? 'checked="checked"' : '' %> />

	<fieldset>
		<legend>Post only when the following properties have been changed.</legend>
		<p>
			<label for="settings_post_updates_project">Project</label>
			<input type="checkbox" id="settings_post_updates_project_id" value="1" name="settings[post_updates_standard_fields][project_id]" <%= settings['post_updates_standard_fields'] and settings['post_updates_standard_fields']['project_id'] == '1' ? 'checked="checked"' : '' %> />
		</p>
		<p>
			<label for="settings_post_updates_tracker">Tracker</label>
			<input type="checkbox" id="settings_post_updates_tracker_id" value="1" name="settings[post_updates_standard_fields][tracker_id]" <%= settings['post_updates_standard_fields'] and settings['post_updates_standard_fields']['tracker_id'] == '1' ? 'checked="checked"' : '' %> />
		</p>
		<p>
			<label for="settings_post_updates_subject">Subject</label>
			<input type="checkbox" id="settings_post_updates_subject" value="1" name="settings[post_updates_standard_fields][subject]" <%= settings['post_updates_standard_fields'] and settings['post_updates_standard_fields']['subject'] == '1' ? 'checked="checked"' : '' %> />
		</p>
		<p>
			<label for="settings_post_updates_description">Description</label>
			<input type="checkbox" id="settings_post_updates_description" value="1" name="settings[post_updates_standard_fields][description]" <%= settings['post_updates_standard_fields'] and settings['post_updates_standard_fields']['description'] == '1' ? 'checked="checked"' : '' %> />
		</p>
		<p>
			<label for="settings_post_updates_status">Status</label>
			<input type="checkbox" id="settings_post_updates_status_id" value="1" name="settings[post_updates_standard_fields][status_id]" <%= settings['post_updates_standard_fields'] and settings['post_updates_standard_fields']['status_id'] == '1' ? 'checked="checked"' : '' %> />
		</p>
		<p>
			<label for="settings_post_updates_priority">Priority</label>
			<input type="checkbox" id="settings_post_updates_priority_id" value="1" name="settings[post_updates_standard_fields][priority_id]" <%= settings['post_updates_standard_fields'] and settings['post_updates_standard_fields']['priority_id'] == '1' ? 'checked="checked"' : '' %> />
		</p>
		<p>
			<label for="settings_post_updates_assignee">Assignee</label>
			<input type="checkbox" id="settings_post_updates_assigned_to_id" value="1" name="settings[post_updates_standard_fields][assigned_to_id]" <%= settings['post_updates_standard_fields'] and settings['post_updates_standard_fields']['assigned_to_id'] == '1' ? 'checked="checked"' : '' %> />
		</p>
		<p>
			<label for="settings_post_updates_category">Category</label>
			<input type="checkbox" id="settings_post_updates_category_id" value="1" name="settings[post_updates_standard_fields][category_id]" <%= settings['post_updates_standard_fields'] and settings['post_updates_standard_fields']['category_id'] == '1' ? 'checked="checked"' : '' %> />
		</p>
		<p>
			<label for="settings_post_updates_target_version">Target version</label>
			<input type="checkbox" id="settings_post_updates_fixed_version_id" value="1" name="settings[post_updates_standard_fields][fixed_version_id]" <%= settings['post_updates_standard_fields'] and settings['post_updates_standard_fields']['fixed_version_id'] == '1' ? 'checked="checked"' : '' %> />
		</p>
		<p>
			<label for="settings_post_updates_parent_task">Parent task</label>
			<input type="checkbox" id="settings_post_updates_parent_issue_id" value="1" name="settings[post_updates_standard_fields][parent_issue_id]" <%= settings['post_updates_standard_fields'] and settings['post_updates_standard_fields']['parent_issue_id'] == '1' ? 'checked="checked"' : '' %> />
		</p>
		<p>
			<label for="settings_post_updates_start_date">Start Date</label>
			<input type="checkbox" id="settings_post_updates_start_date" value="1" name="settings[post_updates_standard_fields][start_date]" <%= settings['post_updates_standard_fields'] and settings['post_updates_standard_fields']['start_date'] == '1' ? 'checked="checked"' : '' %> />
		</p>
		<p>
			<label for="settings_post_updates_end_date">End Date</label>
			<input type="checkbox" id="settings_post_updates_due_date" value="1" name="settings[post_updates_standard_fields][due_date]" <%= settings['post_updates_standard_fields'] and settings['post_updates_standard_fields']['due_date'] == '1' ? 'checked="checked"' : '' %> />
		</p>
		<p>
			<label for="settings_post_updates_done_ratio">% Done</label>
			<input type="checkbox" id="settings_post_updates_done_ratio" value="1" name="settings[post_updates_standard_fields][done_ratio]" <%= settings['post_updates_standard_fields'] and settings['post_updates_standard_fields']['done_ratio'] == '1' ? 'checked="checked"' : '' %> />
		</p>
		<p>
			<label for="settings_post_updates_estimated_hours">Estimated time</label>
			<input type="checkbox" id="settings_post_updates_estimated_hours" value="1" name="settings[post_updates_standard_fields][estimated_hours]" <%= settings['post_updates_standard_fields'] and settings['post_updates_standard_fields']['estimated_hours'] == '1' ? 'checked="checked"' : '' %> />
		</p>
	</fieldset>
</p>

<p>
	<label for="settings_post_wiki_updates">Post Wiki Updates?</label>
	<input type="checkbox" id="settings_post_wiki_updates" value="1" name="settings[post_wiki_updates]" <%= settings['post_wiki_updates'] == '1' ? 'checked="checked"' : '' %> />
</p>
